// Base styles - Man Page Theme
// ---------------------------------------/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: $white;
}

body {
  @include mono;
  color: $text_color;
  font-size: 14px;
  line-height: 1.5;
  background: $white;
}

.wrapper:before,
.wrapper:after { content:""; display:table; }
.wrapper:after { clear: both; }
.wrapper {
  max-width: 1024px;
  padding: 0 24px;
  margin: 0 auto;
  zoom: 1;
}

// clearfix
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both; }
.group { zoom:1; }

::-moz-selection {
    background: $black;
    color: $white;
    text-shadow: none;
}
::selection {
    background: $black;
    color: $white;
    text-shadow: none;
}

a {
  color: $black;
  text-decoration: underline;
  
  &:hover {
    background: $black;
    color: $white;
  }
}
