// Resume styles - Man Page Theme
// ---------------------------------------/

// util
.section-header {
  @include section_border;
  margin-bottom: 1.5rem;

  h2 {
    @include mono_bold;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
  }
}

// page header styles
.page-header { 
  padding: 1.5rem 0;
  border-bottom: 2px solid $black;

  .avatar {
    display: none; // Hide avatar for man page aesthetic
  }

  .header-name {
    @include mono_bold;
    font-size: 2rem;
    text-align: left;
    letter-spacing: 0.05em;
    line-height: 1.2;
    margin: 0 0 0.5rem;
    text-transform: uppercase;
  }

  .header-contact-info {
    @include mono_regular;
    text-align: left;
    font-size: 0.9rem;
  }
  
  .header-contact-info p a {
    color: inherit;
  }

  .title-bar {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    margin-top: 1rem;
    padding: .4rem 0;
    @include clearfix;

    .header-title {
      @include mono_regular;
      font-size: 1.1rem;
      line-height: 1.5rem;
      text-align: left;
      margin: 0;
      text-transform: uppercase;

      @include media_larger_than_mobile {
        float: left;
        margin: 0;
      }
    }
  }

  .executive-summary {
    @include mono_regular;
    margin-top: 1rem;
    text-align: justify;
    
    @include media_larger_than_mobile { 
      font-size: 0.95rem; 
    }
  }
}

.icon-links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  border-top: 1px solid $black;
  padding-top: .4rem;

  @include media_larger_than_mobile {
    float: right;
    border-top: none;
    padding-top: 0;
  }

  .icon-link-item {
    display: inline-block;
    margin-right: 10px;
    
    &:before {
      content: "[";
    }
    
    &:after {
      content: "]";
    }
  }

  .icon-link {
    display: inline-block;
    text-decoration: none;
    
    &:hover {
      background: $black;
      color: $white;
    }
  }

  .icon {
    display: none; // Hide SVG icons, use text links
  }
}

.contact-button {
  background-color: $white;
  border: 2px solid $black;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 1.5rem 0;
  width: 220px;
  font-size: 1rem;
  @include mono_regular;
  color: $black;
  line-height: 40px;
  text-transform: uppercase;

  &:hover {
    background-color: $black;
    color: $white;
  }

  &.not-looking { 
    width: 400px; 
  }
}

// resume content styles
.content-section {
  margin: 0 0 2rem;
  page-break-inside: avoid;

  .resume-item { 
    margin-bottom: 1.5rem;
    page-break-inside: avoid;
  }

  .resume-item-title {
    @include mono_bold;
    margin: 0 0 .5rem;
    font-size: 1.1rem;
    line-height: 1.3;
  }

  .resume-item-details {
    @include mono_bold;
    font-size: 0.95rem;
    margin: 0 0 .5rem;
    line-height: 1.3;
    font-style: normal;

    &.award-title {
      font-size: 0.9rem;
    }
  }

  .resume-item-title,
  .resume-item-details,
  .resume-item-copy,
  .resume-item-list {
    a {
      color: $black;
      text-decoration: underline;

      &:hover {
        background: $black;
        color: $white;
      }
    }
  }

  .resume-item-copy { 
    margin: .5rem 0 0;
    text-align: justify;
  }
  
  ul {
    margin: 0.5rem 0;
    padding-left: 2rem;
    
    li {
      margin-bottom: 0.3rem;
    }
  }
}

// footer styles
.page-footer {
  border-top: 2px solid $black;
  padding-top: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;

  .footer-line {
    @include mono_regular;
    margin: 0;
    font-size: .875rem;

    > a {
      font-weight: 700;
      color: $black;
    }
  }
}

.print-only { display: none !important }

@media print {
  .no-print { display: none !important }
  .print-only { display: block !important }
  
  body { 
    font-size: 11px; 
    line-height: 1.4;
  }
  
  .page-header { 
    padding: 1rem 0 .2rem;
    
    .header-name {
      font-size: 1.5rem;
      margin: 0 0 .2rem;
    }
  }
  
  .section-header {
    @include section_border_thin;
    margin-bottom: 1rem;
    
    h2 { 
      font-size: 1rem; 
      line-height: 1.3rem; 
    }
  }
  
  .content-section {
    margin: 0 0 1rem;
    
    .resume-item { 
      margin-bottom: 0.8rem; 
    }
    
    .resume-item-title {
      font-size: 0.95rem;
      line-height: 1.2;
    }

    .resume-item-details {
      font-size: 0.85rem;
      margin: 0 0 .4rem;
      line-height: 1.2;

      &.award-title {
        font-size: 0.8rem;
      }
    }
  }
  
  a {
    text-decoration: none;
  }
}
