// Variables - Man Page Theme
// ---------------------------------------/

$container-width: 1024px !default;
$grid-gutter:     10px !default;

// Colors - Strict black and white
$white:             #fff;
$black:             #000;
$gray:              #666;

// Styles
$text_color:        $black;
$bg_color:          $white;

// Font stack - Monospace only
$body-font: "Courier New", Courier, "Liberation Mono", monospace !default;
$mono-font: "Courier New", Courier, "Liberation Mono", monospace !default;

// The base body size
$body-font-size: 14px !default;
